@import url(variables.css);
@font-face {
    font-family: 'Avenir';
    src: url(/storage/font/AvenirLTStd-Roman.otf)

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Avenir';
}

body {
    margin: 75px;
}
.main{

    display: flex;    
    justify-content: space-between;
    flex-direction: column;
}
.flex1 h1{
    width:55%;
    font-size: 5rem;

}

.flex2{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.flex2 div {
    /* background: red; */
    display: flex;
    flex-direction: column;
    width: 20vw;
}

h2{
    font-size: 2.5rem;
    color:gray;
    margin-top: 10%;
    justify-content: left;
    margin-left: -2%;

}
p{

    flex-direction: column;
    font-size: 1.8rem;
    width: 100%;

}
.flex2 img{


    display: flex;
    flex-direction: column;

}